doctype html
html(lang='en')
  head
      title= title
      meta(charset='utf-8')
      link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
      // For mobile rendering and touch zooming
      meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
      meta(name='viewport' content='width=device-width')

      // BOOTSTRAP CSS
      link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")

      // BOOTCARDS CSS FOR DESKTOP
      link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css")


  body
    block content

    div(class='wrapper')
      // Sidebar
    div(class='sidebar-wrapper')
      ul(class='sidebar-nav')
        li(class='sidebar-brand')
        a(href='#')
        p Munashe
        li
        a(href='#') Page 1
        li
        a(href='#') Page 2
        li
        a(href='#') Page 3
        li
        a(href='#') Page 4
        include scripts