doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    meta(name='viewport' content='width=device-width')

    // BOOTSTRAP CSS
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")

    // BOOTCARDS CSS FOR DESKTOP
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/css/bootcards-desktop.min.css")

  body
    block content
  div(class='wrapper')
    div(class='logo')

      ul(class='nav')
        li(class='active')
        a(href='index.jade')
        p Dashboard

        div(class='main-panel')
          nav(class='navbar navbar-default navbar-fixed')
          div(class='container-fluid')
            div(class='navbar-header')
              button(type='button' class='navbar-toggle' data-toggle='collapse')
              span(class='sr-only') Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')
              a(class='navbar-brand' href='#') Dashboard


