//
   Created by michaelfraser
// BOOTCARDS AND BOOTSRAP JAVASCRIPT FILES
script(src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js")

script(src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous")