body {margin:0;}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
 /* height: 1000px;  Used in this example to enable scrolling */
}

/* hover adds a cool hovering efect over text */
nav a:hover,
nav a.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

/* Highlights the current page user is on */
nav a:focus {
  text-decoration: none;
  color: white;
  background: #484848;
}

/* "Name" logo. Emphasise text, change colour, font attributes */
nav {
  height: 65px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  color: white;
}

section {
  padding-top: 20px;
  margin-left: 10px;
}




